.tasks {
	padding: 20px;
}

.tasks_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.tasks_sort {
	display: flex;
	align-items: center;
}

.tasks_sort__title {
	margin-right: 10px;
}

.tasks_sort__select {
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.tasks_add {
	display: flex;
	align-items: center;
}

.tasks_add__btn {
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
	cursor: pointer;
}

.tasks_list {
	margin-top: 20px;
}

.task {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	cursor: pointer;
	overflow: hidden;
	transition: var(--transition-duration) box-shadow;
}

.task:not(.active) {
	height: 56px;
}

.task:hover {
	/* transform: scale(1.05); */
	box-shadow: 0 0 10px -5px #333;
	z-index: 1;
}

.task.active {
	box-shadow: 0 0 20px -5px #333;
	cursor: initial;
}

.task.done {
	background-color: lightgreen;
}

.task.fail {
	background-color: lightcoral;
}

.task_content {
	display: flex;
	align-items: top;
	padding: 10px;
}

.task_info {
	flex: 1;
	overflow: hidden;
}

.task:not(.active) .task_title,
.task:not(.active) .task_description {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.task_title,
.task_description {
	word-break: break-word;
}

.task_title {
	font-weight: bold;
}

.task_description {
	font-size: 15px;
}

.task_date {
	font-size: 13px;
	text-align: right;
}

.task_actions {
	/* display: none; */
	text-align: right;
	padding: 0 8px;
	padding-bottom: 8px;
}

.task.active .task_actions {
	display: initial;
}

.task_actions__status {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 5px;
}

.task_actions__edit,
.task_actions__delete {
	border: none;
	padding: 8px 12px;
	cursor: pointer;
}

.task_actions__delete {
	color: red;
}